body {
    font-family: 'Raleway', 'Montserrat', 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.top-text {
    font-weight: 400;
    margin-bottom: 0;
}

#centeredImage {
    max-width: 200px;
}

footer {
    margin-top: 50px;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}
